<h1>Form With Table Layout</h1>
<div class="grid three-column">
  <div class="form-group">
    <div class="form-field">
      <label>First Name</label>
      <input type="text" />
    </div>
    <div class="form-field">
      <label>Last Name</label>
      <input type="text" />
    </div>
    <div class="form-field">
      <label>Email</label>
      <input type="text" />
    </div>
  </div>
  <div class="form-field">
    <label>Picture</label>
    <input type="file" />
  </div>
  <div class="form-group span-3">
    <div class="form-field">
      <label>Country</label>
      <input type="text" />
    </div>
    <div class="form-field">
      <label>Country</label>
      <input type="text" />
    </div>
  </div>
  <div class="form-field">
    <label>Hobby</label>
    <input type="text" />
  </div>
</div>
