<h1>Form With Flex Layout</h1>

<form>
  <ul>
    <li>
      <div class="form-field">
        <label>
          Input 1
        </label>
        <input type="text" />
      </div>
    </li>
    <li>
      <div class="form-field">
        <label>
          Input 2
        </label>
        <input type="text" />
      </div>
    </li>
    <li>
      <div class="form-field">
        <label>
          Input 3
        </label>
        <input type="text" />
      </div>
    </li>
    <li>
      <div class="form-field">
        <label>
          Input 4
        </label>
        <input type="text" />
      </div>
    </li>
    <li>
      <div class="form-field">
        <label>
          Input 5
        </label>
        <input type="text" />
      </div>
    </li>
    <li>
      <div class="form-field">
        <label>
          Input 6
        </label>
        <input type="text" />
      </div>
    </li>
    <li>
      <div class="form-field">
        <label>
          Input 7
        </label>
        <input type="text" />
      </div>
    </li>
  </ul>
</form>
